.post {
  border-radius: 20px;
  background: rgba(217, 217, 217,0.3);
}
.active-table {
  color: white;
  position: relative;
}

.active-table::before {
  content: "";
  position: absolute;
  bottom: -20px;
  background-color: white;
  width: 50%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
