.sidebar {
  background: rgba(55, 55, 55, 0.9);
  backdrop-filter: blur(15px);
}
.link.active {
  border-radius: 7px;

  background: linear-gradient(180deg, #fc155c 0%, #4e14a5 100%);
}
.link {
  color: white;
}
.link.active g {
  opacity: 1 !important;
}

